/* icons courtesy of http://fontello.com/ - MFG labs - SIL license */
@font-face {
  font-family: 'fontello';
  src: url(images/fontello.eot?31384112);
  src: url(images/fontello.eot?31384112#iefix) format('embedded-opentype'),
       url(images/fontello.woff?31384112) format('woff'),
       url(images/fontello.ttf?31384112) format('truetype'),
       url(images/fontello.svg?31384112#fontello) format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?25176587#fontello') format('svg');
  }
}
*/
 
 [class^="theme-icon-"]:before, [class*=" theme-icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
 }

 
.theme-icon-menu:before { content: '\e804'; } /* '' */
.theme-icon-right:before { content: '\e802'; } /* '' */
.theme-icon-help-circled-alt:before { content: '\e807'; } /* '' */
.theme-icon-lock:before { content: '\e80b'; } /* '' */
.theme-icon-lock-open:before { content: '\e803'; } /* '' */
.theme-icon-ok:before { content: '\e805'; } /* '' */
.theme-icon-down-open:before { content: '\e809'; } /* '' */
.theme-icon-left-open:before { content: '\e801'; } /* '' */
.theme-icon-right-open:before { content: '\e800'; } /* '' */
.theme-icon-up-open:before { content: '\e80c'; } /* '' */
.theme-icon-folder-open:before { content: '\e808'; } /* '' */


a {
	color:inherit;
	text-decoration: underline;
}
a:hover {
}
a:focus {
	outline:none;
}
h1, h2, h3, h4 {
}

#body {
	background-color: #d5d9da;
	background-image:url(images/notepad.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color:#222;
}

/* header */
#project_header {
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative;
}
#client_logo {
	width: 200px;
	height: 45px;
	padding-top: 15px;
	padding-left: 15px;
	background-image:url(images/logo.png);
	background-size: contain;
	background-repeat: no-repeat;
}

/* page content container */

.content_width {
	margin: 0 auto;
	width: 885px;
	position: relative;
}

#page_content {
	padding-bottom:70px;
}

#page_content .content_wrapper_inner {
	min-height: 480px;
	position: relative;
}
.content_wrapper {
	background: rgb(255,255,255); /* Old browsers */
	background: rgba(255,255,255,0.8); /* Old browsers */
}
.content_wrapper_inner {
    background-repeat: no-repeat;
    background-position: 100% 0;
	border-radius: inherit;
}
#page_title {
	margin-bottom: 2px;

	background: rgb(255,255,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMWU4ZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(225,232,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(225,232,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(225,232,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(225,232,237,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(225,232,237,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(225,232,237,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e8ed',GradientType=0 ); /* IE6-8 */

    padding-left: 15px;
    padding-top: 7px;
    padding-bottom: 1px;
}

#page_title h1 {
	font-weight: normal;
	font-size:22px;
	white-space: nowrap;
}



.text_wrapper {
	padding:15px 15px 5px 15px;
}



/* footer */

#footer_navigation {
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 50px;
	width: 100%;

	background: rgb(255,255,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMWU4ZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.85) 0%, rgba(225,232,237,0.85) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.85)), color-stop(100%,rgba(225,232,237,0.85))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.85) 0%,rgba(225,232,237,0.85) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0.85) 0%,rgba(225,232,237,0.85) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.85) 0%,rgba(225,232,237,0.85) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0.85) 0%,rgba(225,232,237,0.85) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e8ed',GradientType=0 ); /* IE6-8 */
	z-index: 1001;
}

#footer_navigation .pager {
	position: absolute;
	right: 0px;
	top: 5px;
	margin: 0;
}

#footer_navigation .pager li {
	width:40px;
	height:40px;

	display: block;
	float:left;
	overflow:hidden;
}

#footer_navigation .pager li a {
	display:block;
	width:40px;
	height:40px;
	cursor: pointer;
	padding: 6px 0 0;
	background-color: inherit;
	font-size: 2em;
	border: 0 none;
}
#footer_navigation .pager li a:hover {
	text-indent: -1px;
}
#footer_navigation .pager li a.next {
}
#footer_navigation .pager li a.next:hover {
	text-indent: 2px;
}
#footer_navigation .pager li.disabled a {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	-moz-opacity:0.3;
	opacity: 0.3;
}
#footer_navigation .pager li.status {
    height: 29px;
    padding-top: 11px;
    width: 80px;
    font-size: 1.1em;
}
#footer_navigation .pager li > a, .pager li > span {
}

#help_buttons {
	left: 0;
    position: absolute;
    top: 13px;
}
#help_buttons a {
	font-size:1.1em;
	line-height: 22px;
	text-shadow: none;
	text-decoration: none;
	margin-right:50px;
}
#help_buttons a:hover, #help_buttons a:active {
	text-decoration: none;
	opacity: 0.8;
}
#help_buttons a span {
    display: inline-block;
}

/* toggle page menu */
/* toggle page menu */
/* toggle page menu */
#project_navigation {
	position:fixed;
	width:425px;
	height:100%;
	top:0px;
	left:-440px;
	
	background: #b6c4ce; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I2YzRjZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZWQ4ZGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.9) 0%, #ced8df 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0.9)), color-stop(100%,#ced8df)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.9) 0%,#ced8df 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0.9) 0%,#ced8df 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.9) 0%,#ced8df 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0.9) 0%,#ced8df 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ced8df',GradientType=0 ); /* IE6-8 */


	border-right:2px solid #81b6df;

	z-index:1000;
	font-size:1em;
	
	-webkit-transition: left 0.5s ease-in-out;
	-moz-transition: left 0.5s ease-in-out;
	-o-transition: left 0.5s ease-in-out;
	-ms-transition: left 0.5s ease-in-out;
	transition: left 0.5s ease-in-out;
}
#project_navigation.open {
	left:0px;
}
#project_navigation #scroller {
	height:100%;
	overflow:auto;
}
#project_navigation #scroller_inner {
	padding-bottom: 60px;
	padding-right: 40px;
}

#project_navigation ul {
	list-style: none outside none;
	margin:0;
	padding:16px 0px 20px 20px;
}

#project_navigation ul ul {
	display: none;
	padding-bottom:0;

	margin-top: 10px;
	padding-top: 6px;
	border-top: 1px solid #bbb;
	padding-bottom: 6px;
	
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	-ms-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}

#project_navigation li.is_section {
	padding-bottom:10px;	
}

#project_navigation ul li.section_active ul {
	display: block;
}
#project_navigation li {
	font-size:1.25em;
	/*
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	-moz-opacity:0.6;
	opacity: 0.6;
	*/
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	-ms-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;

	position:relative;

}
#project_navigation li li {
	font-size:0.8em;
	padding:4px 0 5px 0px;
	margin:0px;
}
#project_navigation li.active, #project_navigation li.completed, #project_navigation li.section_active  {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity:1;
	opacity: 1;
}


#project_navigation li > a > i {
	font-size: 0.8em;
}
/* default state */
#project_navigation li > a > i:before {
	content: '\e80b';
}
/* completed */
#project_navigation li.completed > a > i:before,
#project_navigation li.section_active.completed > a > i:before {
	content: '\e805';
}
/* active */
#project_navigation li.section_active.active > a > i:before,
#project_navigation li.active > a > i:before,
#project_navigation li.active.completed > a > i:before {
	content: '\e802' !important;
}
#project_navigation li.enabled > a > i:before {
	content: '\e803';
}
#project_navigation li.section_active > a > i:before,
#project_navigation li.completed.enabled > a > i:before {
	content: '\e805';
}

#project_navigation li > a {
	padding:7px 0 0 5px;
	display: inline-block;

	color:inherit;
	text-decoration: none;
}

#project_navigation li > a:hover {
	color:inherit;
	text-decoration: none;
	opacity: 0.8;
}

#project_navigation li li > a {
	padding:0 0 0 5px;
}

/* common questionnaire items */

form.questionnaire, form.sortable {
	padding-left:75px;
	padding-top: 10px;
	padding-bottom: 35px;
	text-align: right;
	display: inline-block;
}
.questionnaire_inner, .sortable_inner {
	text-align: left;
	display: inline-block;
	margin: 0;
}

.answer, .sortable_item, .tabbable .nav-tabs li a, .accordion-group {
	position: relative;
	width:350px;
	min-height:26px;
	border: 2px solid #81b6df;
	border-radius: 27px;
	margin-bottom: 6px;
	padding: 13px 20px 9px 60px;

	background: rgb(255,255,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMWU4ZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.85) 0%, rgba(225,232,237,0.85) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.85)), color-stop(100%,rgba(225,232,237,0.85))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.85) 0%,rgba(225,232,237,0.85) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0.85) 0%,rgba(225,232,237,0.85) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.85) 0%,rgba(225,232,237,0.85) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0.85) 0%,rgba(225,232,237,0.85) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e8ed',GradientType=0 ); /* IE6-8 */
}
.sortable_item {
	list-style-type: none;
	line-height: 22px;
	cursor: pointer;
}
.answer span.input, .sortable_item span.input {
	position: absolute;
	left: 13px;
	top: 9px;
	width:22px;
	height:26px;
	background-color: #FFFFFF;
	border: 2px solid #81b6df;
	border-radius: 50%;
	line-height: 10px;
	color:#fff;
	padding-left: 4px;
}
.answer span.input {
	text-indent: -5000px;
}
.answer.selected span.input, .sortable_item span.input {
	background-color: #81b6df;
}


.answer .theme-icon-ok {
	display: none;
}
.answer.selected .theme-icon-ok {
	display: block;
	position: absolute;
	color: #fff;
	font-size: 22px;
	left: 13px;
	top: 14px;
}

.multiple_choice .answer span.input {
	border-radius: 0;
	left: 19px;
	top: 11px;
	width: 19px;
	height: 23px;
}
.multiple_choice .answer.selected .theme-icon-ok {
	left: 16px;
}
.answer label, .sortable_item span.text, .accordion-heading a, .tabbable .nav-tabs li a {
	font-size: 1.2em;
	text-decoration: none;
}
.save_button, .continue_button, .carousel_control {
	border: 2px solid #fff;
	font-size: 1.2em;
	cursor: pointer;
	display: inline-block;

	margin-top: 15px;
	padding: 10px 20px 0;
	width: auto;
	height: 31px;
	border-radius: 25px;
	text-align: center;
	color: #fff;
	text-decoration: none;

	-webkit-box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);
}

.save_button, .continue_button, .carousel_control {
	background: rgb(241,141,1); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxOGQwMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOTVmMjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(241,141,1,1) 0%, rgba(233,95,38,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,141,1,1)), color-stop(100%,rgba(233,95,38,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(241,141,1,1) 0%,rgba(233,95,38,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(241,141,1,1) 0%,rgba(233,95,38,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(241,141,1,1) 0%,rgba(233,95,38,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(241,141,1,1) 0%,rgba(233,95,38,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f18d01', endColorstr='#e95f26',GradientType=0 ); /* IE6-8 */

}

/* tabs */
.tabs-left > .nav-tabs {
	width: 200px;
}

.tabbable .nav-tabs li a {
	width: 161px;
	padding-left: 20px;
	padding-right: 10px;
}
.tabbable .nav-tabs li.active a {
	border-radius: 27px 0 0 27px;
	width: 171px;
	border-right: 0px;
}
.tab-content-outer {
}
.tab-content {
	border-left: 2px solid #81b6df;
	border-top: 2px solid #81b6df;
}
.tabs-left > .nav-tabs {
    border-right: 0px;
    margin-right: 0px;
}
.tab-pane {
	overflow:hidden;
	background-color: #FFFFFF;
}
.tab-inner {
    min-height: 330px;
}
.tab_padding {
	padding: 0 35px 35px;
}

@media (max-width: 767px) { 
	.tab_padding {
		padding: 0 0;
	}
	.tabbable.tabs-left .nav-tabs li a, .tabbable.tabs-left .nav-tabs li.active a {
		border-radius: 0;
		border-left:0;
	}
	.tabbable.tabs-left .nav-tabs li a {
		width:120px;
	}
	.tabbable.tabs-left .nav-tabs li.active a {
		width:122px;

	}
	.tabs-left.tabs-left > .nav-tabs {
		width: 150px;
	}
}
@media (max-width: 480px) {
	.tabbable.tabs-left .nav-tabs li a {
		width:90px;
	}
	.tabbable.tabs-left .nav-tabs li.active a {
		width:92px;

	}
	.tabs-left.tabs-left > .nav-tabs {
		width: 120px;
	}
}

/* carousels */


.carousel {
    margin-bottom:0;
}
.carousel .item {
    height:480px;
    width: 100%;

    background: rgb(89,136,175); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU5ODhhZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNTViOGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(89,136,175,0.85) 0%, rgba(37,91,142,0.85) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(89,136,175,0.85)), color-stop(100%,rgba(37,91,142,0.85))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(89,136,175,0.85) 0%,rgba(37,91,142,0.85) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(89,136,175,0.85) 0%,rgba(37,91,142,0.85) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(89,136,175,0.85) 0%,rgba(37,91,142,0.85) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(89,136,175,0.85) 0%,rgba(37,91,142,0.85) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5988af', endColorstr='#255b8e',GradientType=0 ); /* IE6-8 */
}

.carousel .item .item_inner {
    background-repeat: no-repeat;
    height:480px;
    width: 100%;
}

.carousel_caption {
    position: absolute;
    left: 75px; 
    top:75px;
    width: 250px;
    padding: 13px 15px 0px 15px;
    font-size: 16px;
}
.caption2 {
    left: 500px;
    color:#1c568b;
}
.carousel_control {
    width:70px;
    height:33px;
    position:absolute;
    top:210px;
    background-repeat: no-repeat;
    outline:none;
    color:#fff;
    text-decoration: none;
    opacity:1;
    padding:12px 0px 0px 14px;

    -webkit-transition: opacity 0.25s ease-in-out 0s;
    -moz-transition: opacity 0.25s ease-in-out 0s;
    -o-transition: opacity 0.25s ease-in-out 0s;
    -ms-transition: opacity 0.25s ease-in-out 0s;
    transition: opacity 0.25s ease-in-out 0s;
}
.carousel_control.right {
    right:0px;
    border-radius: 25px 0 0 25px;
    border-right: 0;
    box-shadow: -1px 1px 2px 2px rgba(0,0,0,0.2);
}
.carousel_control:hover {
    text-decoration: none;
    opacity:1;
}
.carousel_control.left {
    left: 0px;
    width: 28px;
    padding-left: 0px;
    border-radius: 0 25px 25px 0;
    border-left: 0;
}

html .carousel_control.hide {
    opacity:0;
    display:block;
    left: -5000px;
}

/* accordian */
.accordion_padding {
	padding: 0 35px 35px;
}
.accordion-group {
	border-radius: 20px;
	width: auto;
	padding: 5px 10px 7px;
}
.accordion-heading a {
	padding: 5px 5px 7px;
}

.accordion-inner {
	background-color: #fff;
	padding: 0px;
	border-top: 1px solid #81b6df;
	margin-top:3px;
}
.accordion-image {
	min-height: 200px;
}
.text_content {
	padding: 9px 15px;
	width: 465px;
}

@media (max-width: 767px) { 
	.accordion_padding {
		padding: 0 0;
	}
	.text_content {
		width: 80%;
	}
}



/* modal popups */
.modal {
	text-align: left;
}
.modal {
    width:100%;
    height:100%;
    background-position: 50% 50%;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    left: 0;
    top: 0;
    position: fixed;
    margin-left: 0px;
    background-repeat: no-repeat;

    background: rgb(248,250,250); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjN2QyZGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.85) 0%, rgba(199,210,219,0.85) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.85)), color-stop(100%,rgba(199,210,219,0.85))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.85) 0%,rgba(199,210,219,0.85) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.85) 0%,rgba(199,210,219,0.85) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.85) 0%,rgba(199,210,219,0.85) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.85) 0%,rgba(199,210,219,0.85) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8fafa', endColorstr='#c7d2db',GradientType=0 ); /* IE6-8 */

	-webkit-transition: opacity 0.25s ease-in-out 0s;
	-moz-transition: opacity 0.25s ease-in-out 0s;
	-o-transition: opacity 0.25s ease-in-out 0s;
	-ms-transition: opacity 0.25s ease-in-out 0s;
	transition: opacity 0.25s ease-in-out 0s;
}
.modal-container {
	margin-left: -342px;
	left:50%;
	position: absolute;
	top:50px;
    width: 685px;
    background: #fff;
}
.modal-outer {
	padding: 30px;
    min-height: 390px;
	border-radius: inherit;
}
.modal h3 {
	font-size: 2em;
	font-weight: normal;
	margin-bottom: 1em;
}

.popup_text {
	font-size: 1.2em;
	width: 340px;
}
.modal button.close, #project_navigation button.close {
	float: none;
    padding: 0;
    position: absolute;
    right: 8px;
    top: 5px;
    width: 32px;
    height: 32px;
}
.modal button.close:hover,
.modal button.close:focus,
#project_navigation button.close:hover,
#project_navigation button.close:focus {
	opacity: 1;
	outline: none;
}

.modal .continue_button {
	position: absolute;
	right: 15px;
	bottom: 15px;
}


@media (max-width: 979px) { 
	.content_width {
		margin: 0 0;
		width: 100%;
	}
	#project_header {
		padding-left: 10px;
	}
	#help_buttons {
		left: 15px;
	}
	#footer_navigation .pager {
		right: 15px;
	}
}

@media (max-width: 979px) and (min-width: 481px) { 
	#page_content {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media (max-width: 767px) { 
	/*body:before { content: "Rule: max-width: 767px; "; }*/
	form.questionnaire, form.sortable {
		padding-left:15px;
		padding-top: 10px;

	}
	.answer, .sortable_item {
		width:320px;
	}
	.modal {
		height: 100%;
	}
	.modal-container {
		left: 0px;
		margin-left: 0px;
		width: 100%;
		top: 0px;
		height: 100%;
	}
	.modal-outer {
		height: 100%;
		overflow: auto;
	}
	.modal-inner {
	}
	#client_logo {
		width: 140px;
		height: 35px;
	}

	#body {
		padding: 0;
	}
}

@media (max-width: 480px) {
	/*body:before { content: "Rule: max-width: 480px; "; }*/
	.answer, .sortable_item {    
		width: 235px;
	}
	.popup_text {
		width: auto;
		padding-right: 20px;
	}
	#project_navigation {
		width:100%;
		left:-500px;
	}
	#page_content {
		padding-left: 8px;
		padding-right: 8px;
	}

	#page_content .content_wrapper_inner {
		min-height: 380px;
	}
	#footer_navigation {
		height:40px;
	}
	#help_buttons {
		top: 9px;
	}
	#footer_navigation .pager {
		top: 0px;
	}
	#client_logo {
		width: 120px;
		height: 25px;
	}
	#body {
		padding: 0;
	}
}

@media (min-width: 980px) {
	/*body:before { content: "Rule: min-width: 980px; "; }*/

}
