
        <div class="content_wrapper" id="content_wrapper">
            <div class="content_wrapper_inner clearfix" id="content_wrapper_inner">

                    <div id="carousel" class="carousel slide">
                        
                        <div class="add-option-template hide" data-parent="#carousel_inner">
                            <div class="item hide" id="carousel_item_{{element.id}}">
                                <div class="item_inner" id="carousel_item_inner_{{element.id}}">

                                    <div class="carousel_caption" id="carousel_caption_{{element.id}}">
                                        <div id="carousel_text_holder_{{element.id}}" class="carousel_text">
                                            <p><strong>Carousel Item {{element.number}} - text 1</strong> - This is an ideal place to enrich your learner's understanding of your topic. Enter as much or as little text here as you want.</p>
                                        </div>
                                    </div>

                                    <div class="carousel_caption caption2" id="carousel_caption_{{element.id}}_2">
                                        <div id="carousel_text_holder_{{element.id}}_2" class="carousel_text">
                                            <p><strong>Carousel Item {{element.number}} - text 2</strong> - This is an ideal place to enrich your learner's understanding of your topic. Enter as much or as little text here as you want.</p>
                                        </div>
                                    </div>
            
                                    <div class="image_credit" id="image_credit_inner_{{element.id}}"><a href="http://www.elearningart.com/" title="Image by elearningart.com" target="_blank">Image by elearningart.com</a></div>

                                </div>
                            </div>
                        </div>

                        <!-- Carousel items -->
                        <div id="carousel_inner" class="carousel-inner">
                            <div class="active item" id="carousel_item_1">
                                <div class="item_inner" id="carousel_item_inner_1">
                                    <div class="carousel_caption" id="carousel_caption_1">
                                        <div id="carousel_text_holder_1" class="carousel_text">
                                            <p><strong>Carousel Item 1 - text 1</strong> - This is an ideal place to enrich your learner's understanding of your topic. Enter as much or as little text here as you want.</p>
                                        </div>
                                    </div>

                                    <div class="carousel_caption caption2" id="carousel_caption_1_2">
                                        <div id="carousel_text_holder_1_2" class="carousel_text">
                                            <p><strong>Carousel Item 1 - text 2</strong> - This is an ideal place to enrich your learner's understanding of your topic. Enter as much or as little text here as you want.</p>
                                        </div>
                                    </div>
            
                                    <div class="image_credit" id="image_credit_inner_1"><a href="http://www.elearningart.com/" title="Image by elearningart.com" target="_blank">Image by elearningart.com</a></div>

                                </div>
                            </div>
                            
                            <div class="item" id="carousel_item_2">
                                <div class="item_inner" id="carousel_item_inner_2">

                                    <div class="carousel_caption" id="carousel_caption_2">
                                        <div id="carousel_text_holder_2" class="carousel_text">
                                           <p><strong>Carousel Item 2 - text 1</strong> - This is an ideal place to enrich your learner's understanding of your topic. Enter as much or as little text here as you want.</p>
                                        </div>
                                    </div>

                                    <div class="carousel_caption caption2" id="carousel_caption_2_2">
                                        <div id="carousel_text_holder_2_2" class="carousel_text">
                                           <p><strong>Carousel Item 2 - text 2</strong> - This is an ideal place to enrich your learner's understanding of your topic. Enter as much or as little text here as you want.</p>
                                        </div>
                                    </div>

                                    <div class="image_credit" id="image_credit_inner_2"><a href="http://www.elearningart.com/" title="Image by elearningart.com" target="_blank">Image by elearningart.com</a></div>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div id="carousel_nav">
                        <a class="carousel_control left hide" href="#carousel" data-slide="prev"><i class="theme-icon-left-open"></i></a>
                        <a class="carousel_control right" href="#carousel" data-slide="next">More <i class="theme-icon-right-open"></i></a>
                    </div>


            </div>
        </div>