
.carousel .item .item_inner {
    background-image: url(images/eLearningart_diego.png);
    background-position: 10% 0;
}
#carousel_item_inner_2 {
    background-image: url(images/eLearningart_steve.png);
    background-position: 100% 0;
}