
        <div class="content_wrapper" id="content_wrapper">
            <div class="content_wrapper_inner clearfix" id="content_wrapper_inner">
                        
                <div class="add-option-template hide">
                    <div class="text_caption text_wrapper" id="text_caption_{id}">
                        <div id="text_holder_{id}" class="text">
                            <p><strong>Text caption {number}</strong> - This is an ideal place to enrich your learner's understanding of your topic. Enter as much or as little text here as you want.</p>
                        </div>
                    </div>
                </div>

                <div class="text_caption text_wrapper" id="text_caption_1">
                    <div id="text_holder_1" class="text">
                        <p><strong>Text caption 1</strong> - This is an ideal place to enrich your learner's understanding of your topic. Enter as much or as little text here as you want.</p>
                        <p><small>Image credit: <a href="http://www.elearningart.com" target="_blank">elearningart.com</a></small></p>
                    </div>
                </div>


            </div>
        </div>