
.text_content {
	width: 60%;
}
.tab_padding {
	padding: 0 35px 35px;
}

.tabbable .nav-tabs li a {
	margin-right: 6px;
	margin-bottom: 0;
	border-radius:  10px 10px 0 0;
	padding: 10px 15px 9px;
	min-height:21px;
}
.tabbable .nav-tabs li.active a {
	padding-bottom:10px;
}

.tabbable .nav {
	margin-bottom: 7px;
}


.nav-tabs {
	border-bottom: 1px solid #e95e27;
}

.tab-content {
	border-left: 0px;
	padding-left: 0px;
}

@media (max-width: 767px) { 
	.tab_padding {
		padding: 0 0;
	}
	.text_content {
		width: 80%;
	}
	.tabbable .nav-tabs li a {
		border-radius: 0;
		width:120px;
	}
	.tabbable .nav-tabs li a, .tabbable .nav-tabs li.active a {
		border-left:0;
	}
}

@media (max-width: 480px) {
	.tabbable .nav-tabs li a {
		width:90px;
	}
}