
.text_content {
	width: 60%;
}
@media (max-width: 767px) { 
	.text_content {
		width: 80%;
	}
}


ul.nav {
	margin-bottom: 0px;
}
.tabbable .nav-tabs li a {
	margin-right: 6px;
	margin-bottom: 0;
	border-radius:  15px;
	padding: 9px 15px 6px;
	min-height:21px;
}
.tabbable .nav-tabs li.active a {
	padding-bottom:11px;
	padding-top:11px;
	border-radius:  15px 15px 0 0;
	border-bottom: 0;
	border-right: 2px solid #81b6df;
}

.nav-tabs {
	border-bottom: 0px;
}

.tab-content {
	border-left: 0px;
	padding-left: 0px;
}

@media (max-width: 480px) {
	.nav-tabs > li {
		padding: 0 0 5px 5px;
		width:auto;
	}
	.tabbable .nav-tabs li.active a {
		border-radius:  15px;
		padding: 9px 15px 6px;
		border-bottom: 2px solid #81b6df;
	}
	.tabbable .nav-tabs li a {
	}

}