
#buildup {
	clear:both;
}
.buildup_padding {
	padding-left: 15px;
	padding-bottom: 15px;
}
.buildup-item {
	position: relative;
	float:left;
	margin-right:15px;
	margin-bottom:20px;
	font-weight: bold;
	font-size: 1.2em;

	width:250px;

	background: rgb(224,231,237); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwZTdlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjN2QyZGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(224,231,237,1) 0%, rgba(199,210,218,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,231,237,1)), color-stop(100%,rgba(199,210,218,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(224,231,237,1) 0%,rgba(199,210,218,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(224,231,237,1) 0%,rgba(199,210,218,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(224,231,237,1) 0%,rgba(199,210,218,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(224,231,237,1) 0%,rgba(199,210,218,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e7ed', endColorstr='#c7d2da',GradientType=0 ); /* IE6-8 */

	overflow: visible;

	border-radius: 20px;

	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}
.buildup-item:last-child {
	margin-right:0px;
}
.build-up-follow-on {
	opacity: 0;
}
.build-up-follow-on.in {
	opacity: 1;
}
.buildup_inner {
	background-position: 100% 170%;
	background-repeat: no-repeat;
}
#buildup_inner_1 {
	background-image: url(images/1.png);
}
#buildup_inner_2 {
	background-image: url(images/2.png);
}
#buildup_inner_3 {
	background-image: url(images/3.png);
}

.buildup-item a.next {
	background-image:url(images/icons-all.png);
	background-position: -521px 0px;
    background-repeat: no-repeat;
	text-indent: -5000px;
	display:block;
	width:40px;
	height:40px;
	position: absolute;
    right: -31px;
    top:40px;
	
}
.buildup-item a.next:hover {
	background-position: -520px 0px;
}
.buildup-item:last-of-type a.next, .buildup-item a.shown {
	display:none;
}
.buildup-item .text_content {
	height: 170px;
	padding:30px 30px 30px 30px;
}
@media (max-width: 480px) {

	html .buildup-item {
		width:auto;
		margin-left:0px;
		float:none;
	}
	.buildup-item a.next {
		top: auto;
		right: 0px;
		position: absolute;
		margin-top: -15px;
	}

}