
        <div class="content_wrapper" id="content_wrapper">
            <div class="content_wrapper_inner clearfix" id="content_wrapper_inner">

                <div class="text_wrapper" id="text_before">
                    <p>This is an ideal place to put some text to introduce your learning topic. Enter as much or as little text here as you want. Simply press on the <span class="badge badge-inverse toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>
                </div>

                <div class="buildup_padding">

                    <div class="buildup clearfix" id="buildup">

                        <div class="add-option-template hide">
                            <div class="buildup-item build-up-follow-on no-resize" id="buildup_{id}">
                                <div class="buildup_inner" id="buildup_inner_{id}">
                                    <div id="buildup_item_text_{id}" class="text_content">
                                        <p>An introductory heading</p>
                                    </div>
                                </div>
                                <a href="#" class="next" data-toggle="collapse-next" title="Select this link to open the next item">Next</a>
                            </div>
                        </div>

                        <div class="buildup-item no-resize" id="buildup_1">
                            <div class="buildup_inner" id="buildup_inner_1">
                                <div id="buildup_item_text_1" class="text_content">
                                    <p>An introductory heading</p>
                                </div>
                            </div>
                            <a href="#" class="next" data-toggle="collapse-next" title="Select this link to open the next item">Next</a>
                        </div>

                        <div class="buildup-item no-resize build-up-follow-on" id="buildup_2">
                            <div class="buildup_inner" id="buildup_inner_2">
                                <div id="buildup_item_text_2" class="text_content">
                                    <p>An introductory heading</p>
                                </div>
                            </div>
                            <a href="#" class="next" data-toggle="collapse-next" title="Select this link to open the next item">Next</a>
                        </div>

                        <div class="buildup-item no-resize build-up-follow-on" id="buildup_3">
                            <div class="buildup_inner" id="buildup_inner_3">
                                <div id="buildup_item_text_3" class="text_content">
                                    <p>An introductory heading</p>
                                </div>
                            </div>
                            <a href="#" class="next" data-toggle="collapse-next" title="Select this link to open the next item">Next</a>
                        </div>

                    </div>

                </div>

            </div>
        </div>
