
            <!-- START default Text_and_Images Image_Behind -->
        <div class="content_wrapper" id="content_wrapper">
            <div class="content_wrapper_inner clearfix" id="content_wrapper_inner">

                <div id="intro">
                    <h2>{page.name}: <span id="introduction_text">Getting Started</span></h2>
                    <p>Select the Next arrow at the bottom to begin or swipe to the left.</p>
                </div>

            </div>
        </div>
            <!-- START default Text_and_Images Image_Behind -->