

.content_wrapper_inner {
    background-image: url(images/eLearningart_Ian_listening.png);
}
@media (max-width: 979px) {
	.content_wrapper_inner {
	    background-position: 110% 0;
	}
}
@media (max-width: 767px) { 
	.content_wrapper_inner {
		background-position: 140% 35px;
		background-size: 50%;
	}
}
@media (max-width: 480px) { 
	.content_wrapper_inner {
		background-position: 120% 35px;
		background-size: 40%;
	}
}