
        <div class="content_wrapper" id="content_wrapper">
            <div class="content_wrapper_inner clearfix" id="content_wrapper_inner">

                <div class="text_wrapper" id="text_before">
                    <p>This sortable test template allows you to assess how the learner is getting on.</p>
                </div>
                
                <form class="sortable" id="sortable_form">

                    <ol id="sort_menu" class="sortable_inner">
                        <div class="add-option-template hide">
                            <li class="sortable_item" id="sortable_{{element.id}}">
                                <span class="input"><i class="theme-icon-up-open"></i><i class="theme-icon-down-open"></i></span> 
                                <span class="text" id="sortable_{{element.id}}_text">Option {{element.number}}</span>
                            </li>
                        </div>
                        <li class="sortable_item" id="sortable_1">
                            <span class="input"><i class="theme-icon-up-open"></i><i class="theme-icon-down-open"></i></span> 
                            <span class="text" id="sortable_1_text">Option 1</span>
                        </li>
                        <li class="sortable_item" id="sortable_2">
                            <span class="input"><i class="theme-icon-up-open"></i><i class="theme-icon-down-open"></i></span> 
                            <span class="text" id="sortable_2_text">Option 2</span>
                        </li>
                        <li class="sortable_item" id="sortable_3">
                            <span class="input"><i class="theme-icon-up-open"></i><i class="theme-icon-down-open"></i></span> 
                            <span class="text" id="sortable_3_text">Option 3</span>
                        </li>
                    </ol>

                    <div class="button_holder">
                        <a class="save_button" id="save_button">Submit</a>
                    </div>

                    <div id="correct" data-backdrop="false" class="modal hide fade answered_correct" tabindex="-1" role="dialog" aria-labelledby="correct_label" aria-hidden="true">
                        <div class="modal-container" id="correct_container">
                            <div class="modal-outer" id="correct_inner">
                                <div class="modal-inner">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                    <h3 id="correct_label">Correct!</h3>
                                
                                    <div class="modal_text" id="correct_text">
                                        <p><strong>This is an ideal place</strong> to give some helpful feedback. Enter as much or as little text here as you want. </p><p>Simply press on the <span class="badge badge-inverse toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>
                                    </div>

                                    <a href="{{next.url}}" id="correct_continue" data-dismiss="modal" aria-hidden="true" class="continue_button">Continue</a>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="incorrect" data-backdrop="false" class="modal hide fade answered_incorrect" tabindex="-1" role="dialog" aria-labelledby="incorrect_label" aria-hidden="true">
                        <div class="modal-container" id="incorrect_container">
                            <div class="modal-outer" id="incorrect_inner">
                                <div class="modal-inner">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                    <h3 id="incorrect_label">Wrong!</h3>

                                    <div class="modal_text" id="incorrect_text">
                                        <p><strong>This is an ideal place</strong> to give some helpful feedback. Enter as much or as little text here as you want. </p><p>Simply press on the <span class="badge badge-inverse toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>
                                    </div>

                                    <a href="{{next.url}}" id="incorrect_continue" data-dismiss="modal" aria-hidden="true" class="continue_button">Continue</a>
                                
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>

                    <div id="partially_correct" data-backdrop="false" class="modal hide fade answered_partially_correct" tabindex="-1" role="dialog" aria-labelledby="partially_correct_label" aria-hidden="true">
                        <div class="modal-container" id="partially_correct_container">
                            <div class="modal-outer" id="partially_correct_outer">
                                <div class="modal-inner">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                    <h3 id="partially_correct_label">Partially Correct!</h3>

                                    <div class="modal_text" id="partially_wrong_text">
                                        <p><strong>This is an ideal place</strong> to give some helpful feedback. Enter as much or as little text here as you want. </p><p>Simply press on the <span class="badge badge-inverse toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>
                                    </div>

                                    <a href="{{next.url}}" id="partially_correct_continue" data-dismiss="modal" aria-hidden="true" class="continue_button">Continue</a>
                                
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                    
                </form>

                <div class="image_credit" id="image_credit_inner"><a href="http://www.elearningart.com/" title="Image by elearningart.com" target="_blank">Image by elearningart.com</a></div>
        </div>
    </div>