
        <div class="content_wrapper" id="content_wrapper">
            <div class="content_wrapper_inner clearfix" id="content_wrapper_inner">

                <div class="text_wrapper" id="text_before">
                    <p>This is an ideal place to put some text to introduce your learning topic. Enter as much or as little text here as you want. Simply press on the <span class="badge badge-inverse toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>
                </div>

                <div class="accordion_padding">
                    <div class="accordion" id="accordion">
                        
                        <div class="add-option-template hide">
                            <div class="accordion-group" id="accordian_item_{id}">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_{id}" id="accordian_collapse_heading_{id}">
                                        Title of section {number}
                                    </a>
                                </div>
                                <div id="collapse_{id}" class="accordion-body collapse">
                                    <div class="accordion-inner" id="accordian_inner_{id}">
                                        <div class="accordion-image" id="accordian_image_{id}">
                                            <div id="accordian_collapse_content_{id}" class="text_content">
                                                <p>This is an ideal place to enrich your learner's understanding of your topic. Enter as much or as little text here as you want. <br />Simply press on the <span class="badge badge-inverse toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-group" id="accordian_item_1">
                            <div class="accordion-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_1" id="accordian_collapse_heading_1">
                                    Title of section 1
                                </a>
                            </div>
                            <div id="collapse_1" class="accordion-body collapse">
                                <div class="accordion-inner" id="accordian_inner_1">
                                    <div class="accordion-image" id="accordian_image_1">
                                        <div id="accordian_collapse_content_1" class="text_content">
                                            <p>This is an ideal place to enrich your learner's understanding of your topic. Enter as much or as little text here as you want. <br />Simply press on the <span class="badge badge-inverse toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>            
                                        </div>                        
                                    </div>                  
                                </div>
                            </div>
                        </div>

                        <div class="accordion-group" id="accordian_item_2">
                            <div class="accordion-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_2" id="accordian_collapse_heading_2">
                                    Title of section 2
                                </a>
                            </div>
                            <div id="collapse_2" class="accordion-body collapse">
                                <div class="accordion-inner" id="accordian_inner_2">
                                    <div class="accordion-image" id="accordian_image_2">
                                        <div id="accordian_collapse_content_2" class="text_content">
                                            <p>This is an ideal place to enrich your learner's understanding of your topic. Enter as much or as little text here as you want. <br />Simply press on the <span class="badge badge-inverse toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
            