
        <div class="content_wrapper" id="content_wrapper">
            <div class="content_wrapper_inner clearfix" id="content_wrapper_inner">

                <div class="text_wrapper" id="text_before">
                    <p>This is an ideal place to put some text to introduce your learning topic. Enter as much or as little text here as you want. Simply press on the <span class="badge badge-inverse toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>
                </div>

                <div class="tab_padding">
                    <div class="tabbable tabs-left">

                        <div class="add-option-template hide" data-parent="#tab_menu">
                            <li id="tab_link_{id}">
                                <a href="#tab_{id}" data-toggle="tab">Title of Section {number}</a>
                            </li>
                        </div>
                        
                        <div class="add-option-template hide" data-parent="#tab_content">
                            <div class="tab-pane hide" id="tab_{id}">
                                <div class="tab-inner text_wrapper" id="text_{id}_inner">
                                    <div id="text_content_{id}" class="text_content">
                                        <p>Text Section {number}: This is an ideal place to enrich your learner's understanding of your topic. Enter as much or as little text here as you want. <br />Simply press on the <span class="badge badge-inverse toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <ul class="nav nav-tabs" id="tab_menu">
                            <li id="tab_link1">
                                <a href="#tab_1" data-toggle="tab">Title of Section 1</a>
                            </li>
                            <li id="tab_link2">
                                <a href="#tab_2" data-toggle="tab">Title of Section 2</a>
                            </li>
                        </ul>

                        <div class="tab-content" id="tab_content">

                            <div class="tab-pane" id="tab_1">
                                <div class="tab-inner text_wrapper" id="text_1_inner">
                                    <div id="text_content_1" class="text_content">
                                        <p>Text Section 1: This is an ideal place to enrich your learner's understanding of your topic. Enter as much or as little text here as you want. <br />Simply press on the <span class="badge badge-inverse toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane editable" id="tab_2">
                                <div class="tab-inner text_wrapper" id="text_2_inner">
                                    <div id="text_content_2" class="text_content">
                                        <p>Text Section 2: This is an ideal place to enrich your learner's understanding of your topic. Enter as much or as little text here as you want. <br />Simply press on the <span class="badge badge-inverse toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
