
        <div id="hotspot_wrapper" class="content_wrapper">
            <div class="content_wrapper_inner clearfix" id="content_wrapper_inner">

                <div class="text_wrapper add-option-ignore" id="text_before">
                    <p>This hotspot template allows a Learner to explore an image.</p>
                    <p>It would be a good idea to explain how to use the template here.</p>
                </div>
                    
                <div class="add-option-template hide" data-parent="#hotspot_wrapper">
                    <a class="hotspot" id="hotspot{id}" data-toggle="modal" href="#hotspot_modal_{id}"><span class="title">Hotspot {number}</span></a>
                </div>

                <div class="add-option-template hide" data-parent="#hotspot_modal_wrapper">

                    <div id="hotspot_modal_{id}" data-backdrop="false" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="hotspot_modal_{id}_label" aria-hidden="true">
                        <div class="modal-container">
                            <div class="modal-outer">
                                <div class="modal-inner">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                    <h3 id="hotspot_modal_{id}_label">Hotspot {number} title!</h3>
                                
                                    <div class="modal_text">
                                        <div class="popup_text" id="hotspot_modal_{id}_text">
                                            <p><strong>This is an ideal place</strong> to give some helpful information. Enter as much or as little text here as you want. </p><p>Simply press on the <span class="badge badge-inverse toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>
                                        </div>

                                        <div class="video_player" id="hotspot_modal_{id}_video"></div>
                                    </div>

                                    <a href="{next.url}" data-dismiss="modal" aria-hidden="true" class="continue_button" id="hotspot_modal_{id}_continue">Continue</a>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <a class="hotspot" id="hotspot1" data-toggle="modal" href="#hotspot_modal_1"><span class="title">Hotspot 1</span></a>
                <a class="hotspot" id="hotspot2" data-toggle="modal" href="#hotspot_modal_2"><span class="title">Hotspot 2</span></a>
                
                <div id="hotspot_modal_wrapper" class="add-option-ignore">

                    <div id="hotspot_modal_1" data-backdrop="false" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="hotspot_modal_1_label" aria-hidden="true">
                        <div class="modal-container">
                            <div class="modal-outer">
                                <div class="modal-inner">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                    <h3 id="hotspot_modal_1_label">Hotspot 1 title!</h3>
                                
                                    <div class="modal_text">
                                        <div class="popup_text" id="hotspot_modal_1_text">
                                            <p><strong>This is an ideal place</strong> to give some helpful information. Enter as much or as little text here as you want. </p><p>Simply press on the <span class="badge badge-inverse toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>
                                        </div>

                                        <div class="video_player" id="hotspot_modal_1_video"></div>
                                    </div>
                                    <a href="{next.url}" id="hotspot_modal_1_continue" data-dismiss="modal" aria-hidden="true" class="continue_button">Continue</a>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="hotspot_modal_2" data-backdrop="false" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="hotspot_modal_2_label" aria-hidden="true">
                        <div class="modal-container">
                            <div class="modal-outer">
                                <div class="modal-inner">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                    <h3 id="hotspot_modal_2_label">Hotspot 2 title!</h3>
                                
                                    <div class="modal_text">
                                        <div class="popup_text" id="hotspot_modal_2_text">
                                            <p><strong>This is an ideal place</strong> to give some helpful information. Enter as much or as little text here as you want. </p><p>Simply press on the <span class="badge badge-inverse toggle"><i class="icon-edit icon-white"></i></span> icon above to edit the text.</p>
                                        </div>

                                        <div class="video_player" id="hotspot_modal_2_video"></div>
                                    </div>
                                    <a href="{next.url}" id="hotspot_modal_2_continue" data-dismiss="modal" aria-hidden="true" class="continue_button">Continue</a>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>